@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500&family=Montagu+Slab:wght@300;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Comfortaa:wght@400;500&family=Montagu+Slab:wght@300;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
   


}

.header__content{
  

}
.header::before{
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
    
   
}
body.lock{
    overflow: hidden;
}
.header_body{
    position: relative;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.header_burger {
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
   

}
.header_burger span{
  
    background-color: rgba(146, 146, 146, 0.747);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;

}
.header_burger:before,
.header_burger:after{
    content: '';
    background-color: rgba(146, 146, 146, 0.747);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.header_burger:before{
    top: 0;
}
.header_burger:after{
    bottom: 0;
}

.header_burger.active:before{
    transform: rotate(45deg);
    top: 9px;
}
.header_burger.active:after{
    transform: rotate(-45deg);
    bottom: 9px;
}
.header_burger.active span{
    transform: scale(0);
}

.header_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%; 
    transition: all 0.6s ease 0.5s;
    padding: 70px 0 0 0;
    background-color: rgba(122, 122, 122, 0.712);
}
.header_menu.active{
    top: 0;
}
.header_list {
    
    position: relative;
    z-index: 2;
}
.header_list li{
    padding: 0 0 23px 0px;
}
.header_link {
    font-family: 'Comfortaa', cursive;
    line-height: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 23px;
    
}


.logo{
    padding-top: 50px;
    
}
.logo_title a{
    font-family: 'Montagu Slab', serif;
    font-size: 20px;
    font-weight: 800;
    color: rgb(36, 36, 36);
    
}
.logo_title a:hover{
    text-decoration: none;
    color: rgb(126, 126, 126);
    transition: 0.3s;
}
.line{
    width: 200px;
    height: 1px;
    background-color: rgb(224, 224, 224);
    margin-top: 30px;
}
h1{
   margin-top: 150px;
    font-family: Montserrat;
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
    color: rgb(66, 66, 66);
    
}
.subtitle{
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    line-height: 20px;
    margin-top: 50px;
    color: rgb(167, 167, 167);
}
.block{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 50px;
   
   
}
.block_center{
    display: flex;
    flex-direction: column;

    
}
.block__relative{
    position: relative;
    transition-duration: 1s;
}

.block_center img{
        width: 300px;
        height: 300px;
        padding-right: 10px;
        padding-bottom: 40px;
        opacity: 1;
        
}


.text {
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    line-height: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    max-height: 0px;
    opacity: 0;
    position: absolute;
    top: 40%;
    background-color: rgb(255, 255, 255);
    color: rgb(177, 177, 177);

    
  }
  .block__relative:hover img{
      opacity: 0;
  }
  .block__relative .text{
    transition-duration: 1s;
  }
  .block__relative:hover div{
    transition-duration: 1s;
      opacity: 1;

  }
  .block_center img{
      transition-duration: 1s;
  }

  .block_center img:hover + .text {
   
    max-height: 30px;
    color: rgb(83, 83, 83);
   
  }
  .contact{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
  }

  .form_1 {
    display: flex;
    flex-direction: column;
   
   width: 50%;
}
.feedback-input {
    font-family: 'Comfortaa', cursive;
    color: black;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    background-color: #fff;
    padding: 13px; 
    margin-bottom: 10px;
    width: 100%; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom: 1px solid rgb(224, 224, 224);
    outline: none;
}
textarea{
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    width: 100%;
    height: 100px;
    resize: vertical;
    border-bottom: 1px solid rgb(224, 224, 224);
    outline: none;
}
.button_submit {
    font-family: 'Comfortaa', cursive;
    width: 100%;
    border: 0;
    background-color: white; 
    font-style: 18px;
    font-size: 13px;
    padding-top: 22px;
    padding-bottom: 22px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 300;
    color: rgb(107, 107, 107);
    margin-top: 10px;
}
.button_submit:hover{
    border: 1px solid rgb(224, 224, 224);
}
.feedback-input:hover{
    opacity: 6;
    text-decoration: none;
    
    
}
.form_2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.form_2_1 {
    text-align: center;
    align-items: center;
    width: 250px;
    height: 150px;
    font-size: 30px;
    color: rgb(121, 121, 121);
}
.form_2_1 span{
    
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
}


.footer {
    margin-top: 100px;
    height: 50px;
    display: flex;
    background-color: #b8b8b8;
    align-items: center;
    
}
.footer a {
    align-items: center;
    color: #70726F;
    font-size: 20px;
    
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }
